<!DOCTYPE html>
<html>
  <head>
    <title>Rail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <%= yield(:head_tag) %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5">
      <% if flash[:alert] %>
        <div class="flex justify-center items-center">
          <ul class="text-red-500 list-inside list-disc">
            <% flash[:alert].each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
