<!DOCTYPE html>
<html>
    <head>
        <title>査定依頼</title>
    </head>
    <body>
        <section>
            <h1 class="text-xl">査定依頼フォーム</h1>
        <p class="text-base">フォームは全て必須入力です。</p>
        </section>

        <section class="container mx-auto max-w-md">
            <%= form_with model: @assessment_request do |form|%>
            <h2>＜あなたの情報＞</h2>
            <%= form.label :user_name, "お名前"%>
            <%= form.text_field :user_name %><br>

            <%= form.label :name_kana, "フリガナ"%>
            <%= form.text_field :name_kana %><br>

            <%= form.label :user_tel, "電話番号"%>
            <%= form.text_field :user_tel %><br>

            <%= form.label :user_email, "メールアドレス"%>
            <%= form.text_field :user_email %><br>


            <h2>＜物件の情報＞</h2>
            <%= form_with model: @assessment_area do |form|%>
            <%= form.label :city, "市区町村"%>

<%= form.select :city, options_for_select({
  '横浜市' => 0,
  '相模原市' => 1
}), prompt: '市区町村を選択してください。' %>
            <% end %>
            

            <%= form.label :property_address, "市区町村以下"%>
            <%= form.text_field :property_address %><br>


            <%= form.radio_button :property_address, :one %>
            <%= form.label :property_address, "分譲マンション", {value: :one, style: "display: inline-block;"} %><br>

            <%= form.radio_button :property_address, :two %>
            <%= form.label :property_address, "一戸建て", {value: :two, style: "display: inline-block;"} %><br>

            <%= form.radio_button :property_address, :three %>
            <%= form.label :property_address, "土地", {value: :three, style: "display: inline-block;"} %><br>
            

            <%= form.label :property_exclusive_area, "専有面積"%>
            <%= form.text_field :property_exclusive_area %><br>

            <%= form.label :property_land_area, "土地面積"%>
            <%= form.text_field :property_land_area %><br>

            <%= form.label :property_building_area, "建物面積"%>
            <%= form.text_field :property_building_area %><br>


            <%= form.radio_button :property_building_area_unit, :one %>
            <%= form.label :property_building_area_unit, "平方メートル", {value: :one, style: "display: inline-block;"} %><br>

             <%= form.radio_button :property_building_area_unit, :two %>
            <%= form.label :property_building_area_unit, "坪", {value: :two, style: "display: inline-block;"} %><br>


            <%= form.label :property_floor_area, "延床面積"%>
            <%= form.text_field :property_floor_area %><br>

            <%= form.label :property_room_plan, "間取り"%>

<%= form.select :room_type, options_for_select({
  '1R' => 1,
  '1K / 1DK' => 2,
  '1LK / 1LDK' => 3,
  '2K / 2DK' => 4,
  '2LK / 2LDK' => 5,
  '3K / 3DK' => 6,
  '3LK / 3LDK' => 7,
  '4K / 4DK' => 8,
  '4LK / 4LDK' => 9,
  '5K / 5DK' => 10,
  '5LK / 5LDK' => 11,
  '6K / 6DK' => 12,
  '6LK / 6LDK以上' => 13
}), prompt: '部屋タイプを選択してください' %>
            <br>

            <%= form.label :property_constructed_year, "建築年"%>
            <%= form.text_field :property_constructed_year %><br>

            <%= form.submit '査定依頼をする'%>
        
        <% end %>
        </section>

        

    </body>
</html>