<!DOCTYPE html>
<html>
    <head>
        <title>査定依頼</title>
    </head>
    <body>
        <section class="container mx-auto max-w-md mb-3.5">
            <h1 class="text-2xl text-center">査定依頼フォーム</h1>
            <p class="text-base text-center">フォームは全て必須入力です。</p>
        </section>

        <section class="container mx-auto max-w-md">
            <%= form_with model: @assessment_request do |form|%>
            <h2 class="bg-blue-800 text-white max-w-lg mb-3.5">あなたの情報</h2>
            <div class='flex flex-nowrap '>
            <!-- ラベルを乗せるdiv -->
            <div class='w-2/5'>
            <%= form.label :custom_name_sei, "お名前"%><br><br>
            <%= form.label :custom_kana_sei, "フリガナ"%><br><br>
            <%= form.label :user_tel, "電話番号"%><br><br>
            <%= form.label :user_email, "メールアドレス"%>

            </div>
            <!-- 入力欄を乗せるdiv -->
            <div class='w-3/5'>
            <%= form.text_field :custom_name_sei %>
            <%= form.text_field :custom_name_mei%><br>
            <%= form.text_field :custom_kana_sei %>
            <%= form.text_field :custom_kana_mei %><br>
            <%= form.text_field :user_tel %><br>
            <%= form.text_field :user_email %><br>

            </div>
            </div>


            <h2 class="bg-blue-800 text-white max-w-lg mb-3.5">物件の情報</h2>

            <%= form_with model: @assessment_area do |form|%>
            <div class='flex flex-nowrap '>
            <!-- ラベルを乗せるdiv -->
            <div class='w-2/5'>
                <%= form.label :city, "市区町村"%>
            </div>
            <!-- 入力欄を乗せるdiv -->
            <div class='w-3/5'>
                <%= form.select :city, options_for_select({
  '横浜市' => 0,
  '相模原市' => 1
}), prompt: '市区町村を選択してください。' %>
            </div>
            </div>
            <% end %>
            
            <div class='flex flex-nowrap '>
            <!-- ラベルを乗せるdiv -->
            <div class='w-2/5'>
                <%= form.label :property_address, "市区町村以下"%>
                <%= form.label :property_exclusive_area, "専有面積"%>
                <%= form.label :property_land_area, "土地面積"%>
                <%= form.label :property_building_area, "建物面積"%>
                 <%= form.label :property_floor_area, "延床面積"%>
                  <%= form.label :property_room_plan, "間取り"%>
                  <%= form.label :property_constructed_year, "建築年"%>
            </div>
            <!-- 入力欄を乗せるdiv -->
            <div class='w-3/5'>
                <%= form.text_field :property_address %><br>
                <%= form.radio_button :property_address, :one %>
            <%= form.label :property_address, "分譲マンション", {value: :one, style: "display: inline-block;"} %><br>
                <%= form.radio_button :property_address, :two %>
            <%= form.label :property_address, "一戸建て", {value: :two, style: "display: inline-block;"} %><br>
            <%= form.radio_button :property_address, :three %>
            <%= form.label :property_address, "土地", {value: :three, style: "display: inline-block;"} %><br>

                <%= form.text_field :property_exclusive_area %><br>
                <%= form.text_field :property_land_area %><br>
                <%= form.text_field :property_building_area %><br>

                <%= form.radio_button :property_building_area_unit, :one %>
                <%= form.label :property_building_area_unit, "平方メートル", {value: :one, style: "display: inline-block;"} %><br>

                <%= form.radio_button :property_building_area_unit, :two %>
                <%= form.label :property_building_area_unit, "坪", {value: :two, style: "display: inline-block;"} %><br>

                <%= form.text_field :property_floor_area %><br>

                <%= form.select :room_type, options_for_select({
  '1R' => 1,
  '1K / 1DK' => 2,
  '1LK / 1LDK' => 3,
  '2K / 2DK' => 4,
  '2LK / 2LDK' => 5,
  '3K / 3DK' => 6,
  '3LK / 3LDK' => 7,
  '4K / 4DK' => 8,
  '4LK / 4LDK' => 9,
  '5K / 5DK' => 10,
  '5LK / 5LDK' => 11,
  '6K / 6DK' => 12,
  '6LK / 6LDK以上' => 13
}), prompt: '部屋タイプを選択してください' %>
            <br>

            <%= form.text_field :property_constructed_year %><br>

            </div>
            </div>


            <%= form.submit '査定依頼をする'%>
        
        <% end %>
        </section>

        

    </body>
</html>