<!DOCTYPE html>
<html>
    <head>
        <title>査定依頼</title>
    </head>
    <body>
        <h1 class="text-xl">査定依頼フォーム</h1>
        <p class="text-base">フォームは全て必須入力です。</p>

        <%= form_tag do %>
            <h2>＜あなたの情報＞</h2>
            <Label for="user_name_first">お名前</label>
            <%= text_field_tag 'user_name_first' %>
            <%= text_field_tag 'user_name_last' %> <br>

            <label for="user_name_kana_first">フリガナ</label>
            <%= text_field_tag 'user_name_kana_first' %>
            <%= text_field_tag 'user_name_kana_last' %> <br>

            <label for="user_tel">電話番号</label>
            <%= text_field_tag 'user_tel' %><br>

            <label for="user_email">メールアドレス</label>
            <%= text_field_tag 'user_email' %><br>

            <h2>＜物件の情報＞</h2>
            <label for="address_city">市区町村</label>
            <%= text_field_tag 'address_city' %><br>

            <label for="address_num">番地</label>
            <%= text_field_tag 'address_num' %><br>

        <% end %>

    </body>
</html>