<% content_for :title, full_title("査定 | #{company_and_office_name(@office)}") %>
<section class="grid gap-5">
    <h1 class="text-center text-xl sm:text-2xl md:text-4xl">査定依頼フォーム</h1>
    <span>
        <p class="text-center"><%= company_and_office_name(@office) %>に査定依頼を送信します</p>
        <p class="text-center">フォームは全て必須入力です。</p>
    </span>
</section>
<% if flash[:alert] %>
<div class="flex justify-center items-center my-5">
    <ul class="text-red-500 list-inside list-disc">
    <% flash[:alert].each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
</div>
<% end %>
<%= form_with model: @assessment_request ,url: assessments_path, method: :post , data: { turbo: false } do |form|%>
    <%= form.hidden_field :office_id, value: @assessment_request.office_id %>
    <section>
        <h2 class="bg-blue-400 text-white my-5 px-3">あなたの情報</h2>

        <div class='grid grid-cols-3 gap-3 w-full xl:w-5/6 mx-auto'>
        <%= form.label :user_name, "お名前"%>
        <span class='col-span-2'>
            <%= form.text_field :user_name, placeholder: "田中 太郎" %>
        </span>
        <%= form.label :user_name_kana, "フリガナ"%>
        <span class='col-span-2'>
            <%= form.text_field :user_name_kana, placeholder: "タナカ タロウ" %>
        </span>
        <%= form.label :user_tel, "電話番号（ハイフンなし。10桁 または 11桁）"%>
        <%= form.text_field :user_tel, placeholder: "09012345678", class: 'col-span-2'%>
        <%= form.label :user_email, "メールアドレス"%>
        <%= form.text_field :user_email, placeholder: "test@example.com", class: 'col-span-2'%>
        </div>
    </section>

    <section>
        <h2 class="bg-blue-400 text-white my-5 px-3">物件の情報</h2>
        <div class='grid grid-cols-3 gap-3 mb-3 xl:w-5/6 mx-auto'>
            <%= form.label :city_id, "市区町村"%>
            <%= form.select :city_id, options_for_select(
                @office.assessment_areas.map{|assessment_area| [assessment_area.city.name, assessment_area.city.id]}
                ), prompt: '市区町村を選択してください。', class: 'col-span-2' %>
        </div>

        <div data-controller='assessments'>
            <div class='grid grid-cols-3 gap-3 mb-3 xl:w-5/6 mx-auto'>
                <%= form.label :property_address, "市区町村以下"%>
                <%= form.text_field :property_address, placeholder: "六本木3-2-1", class: 'col-span-2' %>
                <p>物件種別</p>
                <span class='col-span-2'>
                <% PropertyType.all.each do |property_type| %>
                    <span data-action='click->assessments#modify' data-assessments-type-param=<%= property_type.name %> >
                        <%= form.radio_button :property_type, property_type.id %>
                    </span>
                    <%= form.label :property_type, property_type.name, value: property_type.id, style: 'display: inline-block;' %>
                <% end %>
                </span>
            </div>

            <div data-assessments-target='exclusiveArea' class='grid grid-cols-3 gap-3 mb-3 xl:w-5/6 mx-auto hidden' >
                <%= form.label :property_exclusive_area, "専有面積（平方メートルで入力。単位は不要。）"%>
                <%= form.text_field :property_exclusive_area, placeholder: "20", class: 'col-span-2' %>
            </div>
            <div data-assessments-target='landArea' class='grid grid-cols-3 gap-3 mb-3 xl:w-5/6 mx-auto hidden'>
                <%= form.label :property_land_area, "土地面積（平方メートルで入力。単位は不要。）"%>
                <%= form.text_field :property_land_area, placeholder: "130", class: 'col-span-2' %>
            </div>
            <div data-assessments-target='buildingArea' class='grid grid-cols-3 gap-3 xl:w-5/6 mx-auto hidden'>
                <%= form.label :property_building_area, "建物面積（平方メートルで入力。単位は不要。）"%>
                <%= form.text_field :property_building_area, placeholder: "130", class: 'col-span-2' %>
            </div>
        </div>

        <div class='grid grid-cols-3 gap-3 my-3 xl:w-5/6 mx-auto'>
            <%= form.label :property_room_plan, "間取り"%>
            <%= form.select :property_room_plan, options_for_select({
                '1R' => 1,
                '1K / 1DK' => 2,
                '1LK / 1LDK' => 3,
                '2K / 2DK' => 4,
                '2LK / 2LDK' => 5,
                '3K / 3DK' => 6,
                '3LK / 3LDK' => 7,
                '4K / 4DK' => 8,
                '4LK / 4LDK' => 9,
                '5K / 5DK' => 10,
                '5LK / 5LDK' => 11,
                '6K / 6DK' => 12,
                '6LK / 6LDK以上' => 13
                }), prompt: '部屋タイプを選択してください', class: 'col-span-2' %>
        </div>

        <div class='grid grid-cols-3 gap-3 xl:w-5/6 mx-auto'>
            <%= form.label :property_constructed_year, "建築年"%>
            <%= form.text_field :property_constructed_year, placeholder: "2000", class: 'col-span-2' %>
        </div>
    </section>

    <div class="text-center mt-10 mb-40">
        <%= hidden_field_tag :office_id, @office_id %>
        <%= form.submit '査定依頼をする', class: 'text-xl bg-blue-400 text-white px-10 py-5 rounded-lg m-auto' %>
    </div>
<% end %>
