<%= link_to review_path(review) do %>
    <article class="review-item p-5 border border-slate-400">
        <div class="flex gap-5 mb-2 lg:items-center flex-col lg:flex-row">
            <span class="flex flex-no-wrap items-center gap-2"><%= review.company_response_evaluation %>
                <span
                    class="stars"
                    style="--rating: <%= review.company_response_evaluation %>; --star-size: 20px;"
                    aria-label="Rating of this product is <%= review.company_response_evaluation %> out of 5."></span>
            </span>
            <h3 class="text-xl"><%= review.headline %></h3>
        </div>
        <p class="mb-2"><%= review.company_response_evaluation_reason %></p>
        <div class="flex justify-between flex-col lg:flex-row">
            <span class="flex gap-3 flex-col md:flex-row">
                <span class="text-lg text-red-500 font-bold">成約価格 <%= review.contract_price / 10000 %>万円</span>
                <span class="flex gap-3">
                    <% # TODO: ↓の3行はそれぞれ満足度が一定以上の場合のみ表示。閾値については口コミマスタのデータを集計して決める予定。とりあえず4以上で設定 %>
                    <% if review.sale_speed_evaluation >= 4 %>
                        <span class="bg-sky-500 text-white px-2 font-medium">速度満足</span>
                    <% end %>
                    <% if review.company_response_evaluation >= 4 %>
                        <span class="bg-amber-500 text-white px-2 font-medium">対応満足</span>
                    <% end %>
                    <% if review.sale_price_evaluation >= 4 %>
                        <span class="bg-green-500 text-white px-2 font-medium">価格満足</span>
                    <% end %>
                </span>
            </span>
            <span class="mt-2 lg:mt-0">(<%= "#{review.city.prefecture.name}#{review.city.name}" %>・<%= review.sold_on.year %>年<%= review.sold_on.month %>月に売却)</span>
        </div>
    </article>
<% end %>
