<% content_for :head_tag do %>
  <%= stylesheet_link_tag "color_stars", "data-turbo-track": "reload" %>
<% end %>
<section>
  <h1 class="text-xl sm:text-2xl md:text-4xl text-center"><%= "#{@office.company.name} #{@office.name}" %></h1>
  <% # ↓のdivタグ以下のタグ構成について悩んでいます。とりあえずdivでchartとキャッチコピー&紹介文を囲みましたが、他にいい方法があれば教えて欲しいです %>
  <div class="mb-10 md:mb-0 mt-10 md:gap-10 flex flex-row flex-wrap md:flex-nowrap justify-center">
    <div
      data-controller="offices"
      data-offices-speed-value="<%= @speed_evaluation_mean %>"
      data-offices-response-value="<%= @response_evaluation_mean %>"
      data-offices-price-value="<%= @price_evaluation_mean %>"
      class="w-full sm:w-2/3 md:w-1/2 2xl:w-1/3">
      <canvas data-offices-target="canvas"></canvas>
    </div>
    <section class="md:w-1/2 2xl:w-2/3 flex flex-col justify-around items-start">
      <span>
        <h2 class="text-lg lg:text-2xl mb-1.5"><%= @office.catch_copy %></h2>
        <p><%= @office.introduction %></p>
      </span>
      <span class="mt-5 md:mt-0 flex flex-no-wrap items-center gap-2">
        <span class="text-lg lg:text-2xl"><%= @total_evaluation_mean.round(1) %></span>
        <span class="stars" style="--rating: <%= @total_evaluation_mean %>; --star-size: 40px;" aria-label="Rating of this product is 4.3 out of 5."></span>
      </span>
    </section>
  </section>
  <%= render partial: 'about_office', locals: { office: @office } %>
  <%= render partial: 'review_list', locals: { reviews: @office.reviews } %>
</div>
